

.black-nav {
  background-color: rgba(0, 0, 0, 0.707);
  width: 100%;
  color: white;
  display: flex;
  padding: 10px;

  text-align: center;
  align-items: center;
}

.item {
  margin-left: 20px;
}

.main-page {
  text-align: center;
}